body{
	background-image: url(ital.jpg);
	background-size: cover;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-weight: normal;
	margin: 0px;
	width: 100%;
}
p{
	color: white;
}
img{
	display: flex;
    justify-content: left;
    margin-left: 60px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}
em{
	color: white;

}
.kk{
	display: flex;
	align-items: center;
	justify-content: center;
}